{% extends "registers/layout.html" %}

{% block body %}
    <h1>Course: {{ Course.course_id }}</h1>

    <ul>
        <li>Course : {{ Course.course_id }} {{ Course.course_name }}</li>
        <li>max : {{ Course.limit_seat }} seats</li>
        <li>status : {{ Course.status }}</li>
    </ul>

    <h2>student</h2>
    <ul>
        {% for y in student %}
        <li>{{ y }}</li>
        {% empty %}
        <li>No passengers</li>
        {% endfor %}
    </ul>

    <p><a href= "{% url 'registers:index'%}"> Course_List </a> </p>

{% endblock %}