{% extends "registers/layout.html" %}

{% block body %}
    <h1>Course: {{ info.course_id }}</h1>

    <ul>
        <li>Course : {{ info.course_id }} {{ info.course_name }}</li>
        <li>max : {{ info.limit_seat }} seats</li>
        <li>status : {{ info.status }}</li>
    </ul>

    <h2>Student</h2>
    <ul>
        {% for y in student %}
        <li>{{ y }}</li>
        {% empty %}
        <li>No student</li>
        {% endfor %}
    </ul>

    <h3>Add Student</h3>

    <form action="{% url 'registers:book' info.course_id %}" method = "post" >
        {% csrf_token %}
        <select name = "enroll">
            {% for enroll in non_enrollment %}
            <option value = "{{ enroll.id }}"> {{ enroll }}</option>
            {% endfor %}
        </select>
        <input type = "submit" value = "Add Student">
    </form>

    <p><a href= "{% url 'registers:index' %}"> Course List </a> </p>

{% endblock %}